/* HSL
HEX values #RRGGBB
123456789 */

#first{
  color: #ff0000;
  background: #000;
}
#second{
  color: #fff;
  background: #00ff00;
}
#three{
  color: #0000ff;
  background: #f15025;
}
#four{
  color: #f234ad;
  background: #222;
}