div{
  border: 3px solid red;
  background: yellow;
  margin-top: 40px;
  position: static;
}
.one{
  background: blue;
  text-align: left;
}
.two{
  background: green;
}
.special{
  background: lightcoral;
  font-size: 20px;
}